<% provide(:title, "All Courses") %>
<h1>Courses</h1>

<ul class="courses">
  <% current_trainee.enrolls.each do |enrolls| %>
    <li>
      <% course = enrolls.course %>
      <div><%= link_to course.name, trainee_enrolls_path(current_trainee, enrolls) %></div>
    </li>
  <% end %>
</ul>