<% provide(:title, 'All trainees') %>
<h1>All trainees</h1>


<ul class="trainees">
  <% @trainees.each do |trainee| %>
    <li>
      <%= gravatar_for trainee, size: 52 %>
      <%= link_to trainee.name, trainee %>
    </li>
  <% end %>
</ul>

