<% provide(:title, @trainee.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @trainee %>
        <%= @trainee.name %>
      </h1>
    </section>
  </aside>
</div>
