<% provide(:title, "All Courses") %>
<h1>Courses</h1>
<ul class="courses">
  <% @courses.each do |course| %>
    <li>
      <h4><div><%= link_to course.course_name, course_path(course) %></div></h4>
      <p2>Description</p2>
      <div><%= course.description %></div>
    </li>
  <% end %>
</ul>