<h1><span class="name"><%= @course.course_name %></span></h1>
<p2>Subjects list</p2>
  <p>
    <% @course_subjects.each do |course_subject| %>
    <% subject = course_subject.subject %>
    <p><%=link_to subject.subject_name,subject_path(subject.id) %></p>
    <% end %>  
  </p>
<p2>Description</p2>
<p><span class="decription"><%= @course.description %></span></p>
